:root {
    --success-900: #31c48d;
    --error-900: #ff4d4f;
    --black: #000;
    --neture-0: #fff;
    --neture-50: #f9fafb;
    --neture-100: #f3f4f6;
    --neture-200: #e5e7eb;
    --neture-300: #d1d5db;
    --neture-400: #9ca3af;
    --neture-500: #6b7280;
    --neture-900: #091b3a;
    --primary-50: #285ba40d;
    --primary-300: #a4cafe;
    --primary-500: #40a9ff;
    --primary-900: #285ba4;
    --sunset-orange-900: #ffa940;
}
