:root {
    --neutral-0: #fff;
    --neutral-600: #7b7b7b;
    --neutral-900: #262626;
    --primary-20: #fbf9fc;
    --primary-50: #efe7f9;
    --primary-100: #d6c3f1;
    --primary-300: #9f72e0;
    --primary-500: #722ed1;
    --primary-700: #5920c2;
}
