:root {
    --neutral-1: #fff;
    --neutral-2: #fafafa;
    --neutral-3: #f5f5f5;
    --neutral-4: #eee;
    --neutral-5: #e0e0e0;
    --neutral-6: #ccc;
    --neutral-7: #999;
    --neutral-8: #666;
    --neutral-9: #333;
    --neutral-10: #1a1a1a;
    --red: #f5222d;
    --primary-20: #fbf9fc;
    --primary-50: #efe7f9;
    --primary-100: #d6c3f1;
    --primary-300: #9f72e0;
    --primary-500: #722ed1;
    --primary-700: #5920c2;
}
