:root {
    --z-dropdown: 1000;
    --z-sticky: 1020;
    --z-fixed: 1030;
    --z-modal-backdrop: 1040;
    --z-offcanvas: 1050;
    --z-modal: 1060;
    --z-popover: 1070;
    --z-tooltip: 1080;
    --z-blocking-loader: 100000;
}
