.link {
    transition-property: color, opacity;
    transition-duration: var(--transition-fast);
}

.primary {
    color: var(--primary-500);

    &:hover,
    &:focus-visible {
        color: var(--primary-300);
    }

    &:active {
        color: var(--primary-900);
    }
}

.secondary {
    color: var(--neture-900);

    &:hover,
    &:focus-visible {
        opacity: 0.9;
    }
}
