@use 'sass:math';

.spinner {
    &.primary {
        stroke: var(--primary-500);
    }

    &.white {
        stroke: var(--neutral-0);
    }

    circle {
        r: calc(50% - var(--stroke-width) / 2);
        fill: transparent;
        stroke-linecap: round;
        stroke-width: var(--stroke-width);
        stroke-dasharray: 100% * math.$pi;
        transform-origin: 50% 50% 0;
        animation: spinner 2.5s linear infinite;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: 66%;
    }

    50% {
        transform: rotate(720deg);
        stroke-dashoffset: 100% * math.$pi;
    }

    100% {
        transform: rotate(1080deg);
        stroke-dashoffset: 66%;
    }
}
