@use 'sass:math';

.wrapper {
    &Fill {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &WithBackground {
        background-color: #00000010;

        &Rounded {
            border-radius: 16px;
        }
    }

    &Hideable {
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: var(--transition-normal);
    }

    &Visible {
        opacity: 1;
        visibility: visible;
    }
}

.spinner {
    width: var(--spinner-size, var(--base-size));

    &Current {
        stroke: currentcolor;
    }

    &Primary {
        stroke: var(--primary-500);
    }

    &White {
        stroke: var(--neutral-1);
    }

    circle {
        r: calc(50% - var(--stroke-width) / 2);
        fill: transparent;
        stroke-linecap: round;
        stroke-width: var(--stroke-width);
        stroke-dasharray: 100% * math.$pi;
        transform-origin: 50% 50% 0;
        animation: spinner 2.5s linear infinite;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: 66%;
    }

    50% {
        transform: rotate(720deg);
        stroke-dashoffset: 100% * math.$pi;
    }

    100% {
        transform: rotate(1080deg);
        stroke-dashoffset: 66%;
    }
}
