@use 'shared/styles/font';

.modal {
    &:global(.ant-modal .ant-modal-container) {
        padding: 0;
    }

    :global(.ant-modal-content) {
        box-shadow: none;
    }
}

.modalRoot {
    &:global(.ant-modal-root .ant-modal-mask) {
        z-index: var(--z-modal-backdrop);
    }

    &:global(.ant-modal-root .ant-modal-wrap) {
        z-index: var(--z-modal);
    }
}

.header {
    padding: 16px 24px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;

    &.border {
        &Regular {
            border-bottom: 1px solid var(--neture-100);
        }
    }
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include font.h3;
}

.closeButton {
    &:global(.ant-btn) {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Border {
        padding: 8px 7px;
    }

    &Text {
        padding: 0;
    }
}

.content {
    padding: 24px;
}

.footer {
    padding: 16px 24px;

    &Border {
        &Regular {
            border-top: 1px solid var(--neture-100);
        }
    }
}
