@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-blocking-loader);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: show;
    animation-duration: var(--transition-fast);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--neutral-900);
        opacity: 0.3;
    }
}

.loader {
    position: relative;
}
