@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    position: fixed;
    inset: 0;
    z-index: var(--z-blocking-loader);
    animation-name: show;
    animation-duration: var(--transition-fast);

    :global(.ant-spin-fullscreen) {
        background-color: rgb(17 25 40 / 20%);
    }
}
