.button {
    position: relative;
    max-width: max-content;
    padding: 10px 20px;
    border-radius: 8px;
    transition-property: border-color, fill, color, background-color, opacity;
    transition-duration: var(--transition-fast);
    overflow: hidden;

    &:disabled {
        cursor: not-allowed;
    }

    &Primary {
        color: var(--neutral-1);

        &,
        :global(.loaderWrapper) {
            background-color: var(--primary-500);
        }

        &:hover,
        &:focus-visible {
            background-color: var(--primary-300);
        }

        &:active {
            background-color: var(--primary-700);
        }

        &:disabled {
            background-color: var(--neutral-3);
            color: var(--neutral-8);
        }
    }

    &Secondary {
        color: var(--primary-500);

        &,
        :global(.loaderWrapper) {
            background-color: var(--primary-20);
        }

        &:hover,
        &:focus-visible {
            color: var(--primary-300);
        }

        &:active {
            color: var(--primary-700);
        }

        &:disabled {
            background-color: var(--neutral-3);
            color: var(--neutral-8);
        }
    }
}

%icon {
    display: inline-block;

    & svg {
        fill: currentcolor;
        vertical-align: middle;
    }
}

.startIcon {
    margin-right: 6px;

    @extend %icon;
}

.endIcon {
    margin-left: 6px;

    @extend %icon;
}
