.wrapper {
    position: relative;
    padding: 10px 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: {
        property: background-color, color, fill, border-color, opacity;
        duration: var(--transition-fast);
    }

    &:disabled {
        cursor: not-allowed;
    }

    &.loading {
        cursor: wait;
    }
}

.loaderWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    color: var(--neutral-0);

    &,
    .loaderWrapper {
        background-color: var(--primary-500);
    }

    &:hover {
        background-color: var(--primary-300);
    }

    &:active {
        background-color: var(--primary-700);
    }

    &:disabled {
        background-color: var(--neutral-100);
        color: var(--neutral-600);
    }
}

.secondary {
    color: var(--primary-500);

    &,
    .loaderWrapper {
        background-color: var(--primary-20);
    }

    &:hover {
        color: var(--primary-300);
    }

    &:active {
        color: var(--primary-700);
    }

    &:disabled {
        background-color: var(--neutral-100);
        color: var(--neutral-600);
    }
}

%icon {
    display: inline-block;

    & svg {
        fill: currentcolor;
        vertical-align: middle;
    }
}

.startIcon {
    margin-right: 6px;

    @extend %icon;
}

.endIcon {
    margin-left: 6px;

    @extend %icon;
}
