/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
    neutral0: var(--neutral-0);
    neutral600: var(--neutral-600);
    neutral900: var(--neutral-900);
    primary20: var(--primary-20);
    primary50: var(--primary-50);
    primary100: var(--primary-100);
    primary300: var(--primary-300);
    primary500: var(--primary-500);
    primary700: var(--primary-700);
}
/* stylelint-enable selector-pseudo-class-no-unknown */
