@mixin h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

@mixin h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

@mixin h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

@mixin h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

@mixin b1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

@mixin b2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@mixin b3 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

@mixin form-label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

@mixin form-placeholder {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

@mixin form-description {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

@mixin button {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

@mixin table-header {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

@mixin table-cell {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
