@mixin hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@mixin clamp($lines: 1) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--neture-300) var(--neture-50);

    &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--neture-50);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--neture-300);
        border-radius: 50px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}
