.layout {
    &:global(.ant-layout) {
        min-height: 100vh;
    }

    &:global(.ant-layout .ant-layout-sider) {
        position: sticky;
        height: 100vh;
        top: 0;
        bottom: 0;
        transition: none;
        z-index: var(--z-modal-backdrop);
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    height: 100%;
}
