.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
}

.cardWrapper {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

.paginationWrapper {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.pagination {
}
