.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10px;
}

.card {
    border: 1px solid var(--primary-500);
    width: 200px;
    height: 200px;

    &Wrapper {
        display: flex;
        justify-content: center;
    }
}

.paginationWrapper {
    $offset: 20px;

    margin-top: $offset;
    margin-right: $offset;
    display: flex;
    justify-content: flex-end;
}
