@use 'shared/styles/mq';
@use 'shared/styles/font';

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10px;

    @include font.b1;

    @include mq.lower-xxs {
        width: 100px;
        height: 100px;

        @include font.b2;
    }
}

.card {
    border: 1px solid var(--primary-500);
    width: 200px;
    height: 200px;

    &Wrapper {
        display: flex;
        justify-content: center;
    }
}

.paginationWrapper {
    $offset: 20px;

    margin-top: $offset;
    margin-right: $offset;
    display: flex;
    justify-content: flex-end;
}
