.wrapper {
    transition: border-color var(--transition-fast);
    overflow: hidden;
}

.variant {
    &White {
        background-color: var(--neture-0);
    }
}

.padding {
    &Smaller {
        padding: 16px;
    }

    &Medium {
        padding: 20px;
    }

    &Large {
        padding: 40px;
    }
}

.border {
    &Default {
        border: 1px solid var(--neture-100);
    }

    &Gray {
        border: 1px solid var(--neture-300);
    }
}

.borderRadius {
    &Medium {
        border-radius: 8px;
    }

    &Large {
        border-radius: 16px;
    }
}
